
.close-outline,
.rounded {
  float: right;
  margin-right: 1.2rem;
  margin-top: 1.7rem;
  border: 1px solid var(--ion-color-step-950);
  border-radius: 50%;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 11px;

  ion-icon {
    font-size: 1.8rem;
    color: var(--ion-close-button);
  }

  ion-icon.radio-personal {
    color: var(--td-blue);
  }

  ion-icon.radio-business {
    color: var(--td-magenta);
  }
}
.ion-no-border{
  border-bottom: 1px solid #cfd4d3;
}
.container {
  position: absolute;
  top: 10%;
  height: 40vh;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  width: calc(100vw - 2 * 1.8rem);

  ion-input {
    font-size: 1.9rem;
    width: 100%;
  }

  .rounded-rectangle {
    border: 1px solid var(--ion-color-step-950);
    border-radius: 2rem;
    padding: 0.9rem 1.2rem;
    margin: 5vh 0;
    margin-right: 1rem;
    color: var(--ion-secondary-text-color);
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: large;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }

    ion-icon {
      color: var(--ion-secondary-text-color);
    }
  }

  .rounded {
    margin-top: 0;
  }

  table {
    width: auto;
  }

  .bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    color: var(--ion-tertiary-text-color);
    margin: 6vh 1vh;
  }
}
ion-fab-button {
  --border-radius: 4.5rem;
  width: 11rem;
  font-size: larger;
  letter-spacing: 0.5px;
  --background: var(--ion-fab-button-background-dark);
  --background-activated: var(--ion-fab-button-background-dark);
  --box-shadow: 0px 13px 20px -11px var(--ion-fab-button-background);

  ion-icon {
    font-size:  large;
  }  
}

ion-fab {
  bottom: 17vh;
  right: calc(35px + var(--ion-safe-area-right, 0px));
}
.camera{
  font-size: xxx-large;
  color: var(--ion-secondary-text-color);
}
.lock-icon{
  color: var(--ion-secondary-text-color);
  font-size: xx-large;
    padding: 0 5px;
}
.camera-btn{
  --background: transparent !important;
}